{% extends 'accounts/main.html' %} 

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Estudiante:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Actualizar Estudiante</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Eliminar Estudiante</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informacion de contacto</h5>
			<hr>
			<p>Correo Electronico: </p>
			<p>Telefono: </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Trabajos</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Buscar</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Trabajo</th>
					<th>Tipo</th>
					<th>Fecha Emitida</th>
					<th>Status</th>
					<th>Actualizar</th>
					<th>Eliminar</th>
				</tr>

			</table>
		</div>
	</div>
</div>

{% endblock content %}

