<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-jobs">
			  	<div class="card-header">
			  		<h5 class="card-title">Todos Los Trabajos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalTrabajo}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="jobs-completed">
			  	<div class="card-header">
			  		<h5 class="card-title">Trabajos Completados</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalActivo}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="jobs-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Trabajos Pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalPendiente}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>