{% extends 'accounts/main.html' %} 

{% block content %}
        <br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Trabajo</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Nombre Trabajo</th>
							<th>Categoria</th>
							<th>Paga</th>
						</tr>
						
						{% for i in trabajo %}
							<tr>
								<td>{{i.name_Job}}</td>
								<td>{{i.category}}</td>
								<td>${{i.payment}}</td>
							</tr>
						{% endfor %}
						

					</table>
				</div>
			</div>
			
		</div>
{% endblock content %}

